/* ==========================================================================
   GOOGLE FONT FAMILY IMPORT
   ========================================================================== */
/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
