/* ==========================================================================
   GOOGLE FONT FAMILY IMPORT
   ========================================================================== */
/*Outfit*/
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

/* ==========================================================================
   CSS VARIABLES & RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

/*BODY FORMATTING*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==========================================================================
   MTA SECTION FORMATTING
   ========================================================================== */
/*Format grid container*/
.mta-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f3f4f6;
}

/*Format grid item*/
.grid-item {
  background-color: red;
}

/*Format team member grid item overlay*/
.team-member {
  position: relative;
}

.team-member::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%22284%22%20height%3D%22144%22%20viewBox%3D%220%200%20284%20144%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Crect%20width%3D%22284%22%20height%3D%22144%22%20fill%3D%22url%28%23paint0_linear_2850_19650%29%22%2F%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22paint0_linear_2850_19650%22%20x1%3D%22142%22%20y1%3D%220%22%20x2%3D%22142%22%20y2%3D%22144%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23D9D9D9%22%20stop-opacity%3D%220%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-opacity%3D%220.8%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E")
    no-repeat center center;
  background-size: cover;
  z-index: 1;
}
